# CBT SAAS ENVIRONMENT CONFIG

NODE_ENV=production

# DATABASE
DATABASE_URL=postgres://cbt:cbtpassword@localhost:5432/cbt_db

# REDIS
REDIS_URL=redis://localhost:6379

# AUTH
JWT_SECRET=your-secret-key

# PAYMENTS
PAYSTACK_SECRET_KEY=your-paystack-key
